:root {
    --primary-color: #1A1A1A;
    --secondary-color: #F5F5F5;
    --accent-color-1: #41D890;
    --accent-color-2: #B7B4B4;
    --accent-color-3: #131313;
}

.contact-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.contact-details-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.contact-details {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.special-listing-header h3 {
    font-size: 1rem;
    color: var(--accent-color-2);
}

.address-details {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.address-details h4 {
    margin: 0;
}

.address-header {
    color: var(--secondary-color);
}

.address-info {
    color: var(--accent-color-2);
}

.contact-us-container {
    width: 80%;
    max-width: 500px;
}

.contact-us-container h2,
.contact-us-container label,
.contact-us-container input {
    font-weight: lighter;
    color: var(--secondary-color);
}

.contact-us-container h2 {
    font-size: 2rem;
}

.contact-us-container label {
    font-size: 1.25rem;
}

.input-group-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.submit-button {
    display: flex;
    justify-content: center;
}

.submit-button button {
    padding: 5px 50px;
    font-size: 1.5rem;
    font-weight: lighter;
    color: var(--secondary-color);
    background-color: var(--primary-color);
    border: 1px solid var(--accent-color-1);
    border-radius: 10px;
    outline: none;
    cursor: pointer;
}

.info-group input:focus {
    box-shadow: 0 0 0 1px var(--accent-color-1);
}

.submit-button button:hover, 
.submit-button button:focus {
    box-shadow: 0 0 0 1.5px var(--accent-color-1);
}

/* Default: Extra-small devices such as small phones (less than 640px) /

/ Small devices such as large phones (640px and up) /
@media only screen and (min-width: 640px) {...}

/ Medium devices such as tablets (768px and up) /
@media only screen and (min-width: 768px) {...}

/ Large devices such as laptops (1024px and up) /
@media only screen and (min-width: 1024px) {...}

/ Largest devices such as desktops (1280px and up) */
/* @media only screen and (min-width: 1280px) {...} */